/*******************************************************************
			General
*******************************************************************/
html, body {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

h4, h3, h2, h1 {
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
}

.row{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.col-md-4, .col-xs-4{
	background-color: #818e3e;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 6.5%;
	height: 100%;
}

.col-med-4, .col-xs-4 img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 15%;
}

.col-md-8, .col-xs-8{
	background-color: #f3eec1;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	height: 100%;
}

.inside-full-height, .content {
	height:100vh;
	min-height: 100%;
 	margin-top: 0;
  	margin-bottom: 0;
}

p {
	margin-right: 5%;
	margin-left: 5%;
	font-size: 1em;
}

/********************************************************************
			Nav Bar 
*********************************************************************/
.navbar {
	background-color: #e39100;
	color: white !important;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding: 0, 0, 0, 0;
}

.navbar a{
	font-size: 1em;
	color: white !important;
}

.navbar .navbar-nav{

}

.navbar .navbar-right a{

}

.navbar .navbar-right li > a:hover{
	color: #9b2e19 !important;
	font-weight: bolder;
}

.navbar .navbar-collapse{
	text-align: center;
}

.navbar img {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

/********************************************************************
			Buttons
*********************************************************************/
.buttonLogin{
	display: inline-block;
	min-width: 150px;
	width: 25% !important;
	padding-bottom: .3em;
	padding-top: .3em;
	margin-right: 10%;
	background: #9b2e19;
	border-radius: 5px;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	font-size: 1.5em;
}

.buttonOther{
	display: inline-block;
	min-width: 150px;
	width: 25% !important;
	padding-bottom: .3em;
	padding-top: .3em;
	margin-right: 10%;
	background: #486b33;
	border-radius: 5px;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	font-size: 1.5em;
}

/*********************************************************************
			Main Body of Text - Not Login
*********************************************************************/
.mainText{
	margin-top: 10%;
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: white;
}

/*********************************************************************
			Main Body of Text - Login
**********************************************************************/


/**********************************************************************
			Left Side
**********************************************************************/


/**********************************************************************
			Right Side
*********************************************************************/
